{{ define "header" }}
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <a href="/">
          <h1 class="title">
            GoでBlogを作るBlog
          </h1>
        </a>
      </div>
    </div>
  </section>
{{ end }}
