{{ define "footer" }}
  <footer class="footer">
    <div class="content">
      <p>TBD</p>
    </div>
    <div>
      <small>&copy; 2020 YusukeKishino. All Rights Reserved.</small>
    </div>
  </footer>
{{ end }}
