{{ define "sidebar" }}
  <div class="card">
    <div class="card-image">
      <img src="/images/profile.jpeg" alt="YusukeKishino" >
    </div>
    <div class="card-content">
      <p class="subtitle is-7">Author</p>
      <p class="title is-6">Yusuke Kishino</p>
      <p>サーバーサイドをメインに開発しています<br>Go/Ruby/PHP</p>
      <div class="columns">
        <div class="column">
          <a href="https://twitter.com/YusukeKishino">
            <p><span class="icon"><i class="fab fa-twitter"></i></span>Twitter</p>
          </a>
        </div>
        <div class="column">
          <a href="https://twitter.com/YusukeKishino">
            <p><span class="icon"><i class="fab fa-github"></i></span>GitHub</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <aside class="menu">
    <p class="menu-label">Menu</p>
    <ul class="menu-list">
      <li><a href="/posts">投稿一覧</a></li>
    </ul>
  </aside>

{{ end }}
