{{ define "_posts" }}
  <div class="columns is-multiline is-tablet">
      {{ range $i, $post := .posts }}
        <div class="column is-6">
          <div class="card">
            <div class="card-content">
              <p class="subtitle is-5"><a href="/posts/show/{{ $post.ID }}">{{ $post.Title }}</a></p>
              <div class="tags">
                  {{ range $j, $tag := $post.Tags }}
                    <span class="tag is-info is-light">{{ $tag.Name }}</span>
                  {{ end }}
              </div>
              <p class="has-text-left">
                <span class="icon"><i class="far fa-calendar"></i></span>{{ $post.PublishedAt.Time.Format "2006-01-02" }}
              </p>
              <p>{{ maxLength $post.Content 100 }}</p>
            </div>
          </div>
        </div>
      {{ end }}
  </div>
{{ end }}
