{{ define "subtitle" }}
  投稿一覧
{{ end }}
{{ define "content" }}
  <div class="container">
    <a href="/admin/posts/new"><button class="button is-primary" type="button">新規作成</button></a>
    <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>CreatedAt</th>
          <th>UpdatedAt</th>
          <th></th>
        </tr>
        </thead>
        {{ range $i, $post := .posts }}
          <tr>
            <td>{{ $post.ID }}</td>
            <td><a href="/admin/posts/show/{{ $post.ID }}">{{ $post.Title }}</a></td>
            <td>{{ $post.CreatedAt.Format "2006-01-02 15:04:06" }}</td>
            <td>{{ $post.UpdatedAt.Format "2006-01-02 15:04:06" }}</td>
            <td><a href="/admin/posts/edit/{{ $post.ID }}">Edit</a></td>
          </tr>
        {{ end }}
    </table>
  </div>
{{ end }}
