{{ define "subtitle" }}
  このブログについて
{{ end }}
{{ define "content" }}
  <div class="container">
    <p>このブログはGo言語によるWebアプリケーションの実装例として作られたものです。<br>
      使われている技術の紹介・解説や新機能開発の流れをメインコンテンツとして配信していく予定です。<br>
      ブログとしての最低限の機能からスタートしているのでご不便はご了承ください。<br>
      コメント機能もないのでコメント・質問・指摘等あれば<a href="https://twitter.com/YusukeKishino">Twitter</a>までお願いします。
    </p>
  </div>
  <hr class="hr">
  <div class="container">
    <h2 class="title">投稿一覧</h2>
    {{ template "_posts" . }}
  </div>
{{ end }}
